#select-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
}
#select-container > button {
  position: relative;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
}
#select-container > button:hover {
  background-color: #d6eafc;
}

#select-container > button:not(:last-child):after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 12.5%;
  height: 50%;
  width: 75%;
  border-bottom: #8795a3bd 2px solid;
}
